<!DOCTYPE HTML>
<html data-ng-app='jsonServerMod'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>Elvenware Test Project</title>
		<link rel="shortcut icon" href="favicon.png">
		<script src="Library/angular.js"></script>
		<script src="Source/index.js"></script>
	</head>
	<body>
		<h1>Elvenware Angular JSON</h1>

		<div ng-controller="myController">
			<p>
				This project retrieves a small amount of JSON from
				a node server.
			</p>
			<div ng-bind-html-unsafe="hint"></div>

			

			<button ng-click="loadJson02('music1.json')">
				Load Data02
			</button>

			<p>
				Here is the JSON retreived from the server:
			</p>

			<p>
				All data: {{data2}}
			</p>
			<p>
				Musician: {{data2.musicians[0].musician}}      Album: {{data2.musicians[0].album}}
			</p>

			
 <span class="caption">Search all fields: </span> <input ng-model="search.$"> <br>
    <span class="caption">Search Musician: </span> <input ng-model="search.musician"><br>
    <span class="caption">Search Album: </span> <input ng-model="search.album"><br>
    
    Use exact match <input type="checkbox" ng-model="strict"><br>
    
    <hr />
    
    <table id="searchObjResults">
      <tr><th>Musician</th><th>Album</th></tr>
      <tr ng-repeat="music in data2.musicians | filter:search:strict">
        <td>{{music.musician}}</td>
        <td>{{music.album}}</td>
      </tr>
    </table>
    
    <hr />
    <span class="caption">Enter a album name to get the musician: </span>
			<input ng-model="albumName">
			<button ng-click="musicianFromAlbum()">
				Get Musician
			</button>
			<span class = "caption"><br>
			Author: {{musicianFromAlbumResult}}</span>
			<br>

			<span class="caption">Enter an musican to get an album: </span>
			<input ng-model="musicianName">
			<button ng-click="albumFromMusician()">
				Get Album
			</button>
			<span class = "caption"><br>
			Book: {{albumFromMusicianResult}}</span>
			<br>
		</div>
	</body>
</html>
