<!doctype html>
<html ng-app="musicMod">
	<head>
		<link href="index.css" rel="stylesheet" type="text/css" />
		<script src="angular.js"></script>
		<script src="Music.js"></script>
	</head>
	<body>

		<div ng-controller="musicController">
			<span class="caption">Search all fields: </span>
			<input ng-model="search.$">
			<br>
			<span class="caption">Search for a Musician: </span>
			<input ng-model="search.musician">
			<br>
			<span class="caption">Search for an Album: </span>
			<input ng-model="search.album">
			<br>

			Use exact match
			<input type="checkbox" ng-model="strict">
			<br>

			<hr />

			<table id="searchObjResults">
				<tr>
					<th>Musician</th><th>Album</th>
				</tr>
				<tr ng-repeat="musician in musicians | filter:search:strict">
					<td>{{musician.musician}}</td>
					<td>{{musician.album}}</td>

				</tr>
			</table>

			<span class="caption">Enter an album to get the musician: </span>
			<input ng-model="albumMusician">
			<button ng-click="albumFromMusician()">
				Get Musician
			</button>
			<span class = "caption">Musician: {{musicianFromAlbum}}</span>
			<br>

			<span class="caption">Enter a musician to get an album: </span>
			<input ng-model="musicianAlbum">
			<button ng-click="musicianFromAlbum()">
				Get Album
			</button>
			<span class = "caption">Album: {{albumFromMusician}}</span>
			<br>

		</div>
	</body>
</html>